<% include partials/header %>
<div class="container">
        <div class="row justify-content-center" style="margin-bottom: 30px">
            <div class="col col-auto">
                <h1>Register Page</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-7 col-md-5 col-lg-4">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-lg btn-primary" value="Sign Up">
                    </div>
                </form>
                <a href="/museums">Go back</a>
            </div>
        </div>
    </div>
<% include partials/footer %>
